config.log
.sconf_temp
.sconsign.dblite
*.os
*.succeeded
libs/numpy/example/dtype
libs/numpy/example/fromdata
libs/numpy/example/ndarray
libs/numpy/example/simple
libs/numpy/example/ufunc
libs/numpy/example/wrap
build
build-vc90
build-vc100
CTestTestfile.cmake
Makefile
bin/
cmake_install.cmake
lib/
libs/numpy/example/CMakeFiles/
libs/numpy/example/CTestTestfile.cmake
libs/numpy/example/Makefile
libs/numpy/example/cmake_install.cmake
libs/numpy/src/CMakeFiles/
libs/numpy/src/CTestTestfile.cmake
libs/numpy/src/Makefile
libs/numpy/src/cmake_install.cmake
libs/numpy/test/CMakeFiles/
libs/numpy/test/CTestTestfile.cmake
libs/numpy/test/Makefile
libs/numpy/test/cmake_install.cmake
