/.downloads
/gcc
/gmp
/mpc
/mpfr
/Python
/bzip2
/expat
/libffi
/libpng
/pcre
/zlib
/autoconf/
/autogen/
/automake/
/gc/
/guile/
/libatomic_ops/
/libtool/
/libunistring/
/OpenBLAS/
/fam/
/icu/
/json-c/
/libxml2/
/libxslt/
/openssl/
/boost/
/openmpi/
/xz/
/libarchive
/curl
/cmake
/bison
/flex
/Boost.NumPy/CMakeCache.txt
/Boost.NumPy/CMakeFiles/
/cairo/
/cppunit/
/gettext/
/glib/
/gobject-introspection/
/pixman/
/swig/
/atk/
/fontconfig/
/freetype/
/gdk-pixbuf/
/gtk+/
/harfbuzz/
/jpeg/
/pango/
/pygobject/
/tiff/
/gdb/
/texinfo/
/perl/
/asciidoc
/xmlto
/wget
/git
/intltool
/itstool
/glade
/qt
/qtbase
/qt-creator
/pyside-setup
/doxygen
/nettle
/gnutls
/gperf
/webkitgtk
/qtwebkit
/glib-networking
/libsoup
/vala
/ruby
/libwebp
/tcl
/tk
/sqlite
/postgresql
/flexx
