/.downloads
/gcc
/gmp
/mpc
/mpfr
/Python
/bzip2
/expat
/libffi
/libpng
/pcre
/zlib
/autoconf/
/autogen/
/automake/
/gc/
/guile/
/libatomic_ops/
/libtool/
/libunistring/
/OpenBLAS/
/fam/
/icu/
/json-c/
/libxml2/
/libxslt/
/openssl/
/boost/
/openmpi/
/xz/
